<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{  title }}</title>
    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <table class='table table-bordered table-hover table-striped'>
      <tr>
        <th>Продукт</th>
        <th>Начальное количество</th>
        <th>Итоговое количество</th>
        <th>Брак</th>
        <th>На складе</th>
        <th>Наличие</th>
        <th>Готовность</th>
      </tr>
        {% for code in values_count1 %}
        <form method="POST" action="/submit1">
        <tr {% if change_color(code) == "processed" %}class="success"{% endif %}>
          <td>{{ search1(code) }}</td>
          <td>{{ values_count1[code] }}</td>
          <td><div class='col-xs-6'><input type='number' class='form-control' value={{produced_quantity(code)}} name="produced_quantity"></div></td>
          <td><div class='col-xs-6'><input type='number' class='form-control' value={{reject_quantity(code)}} name="reject_quantity"></div></td>
          <td>{{ amount1(code) }}</td>
          <td>
          {% if values_count1[code] <= amount1(code) %}
          Достаточно
          {% else %}
          Нехватка
          {% endif %}
          </td>
          <td><p><button type='submit' class='btn btn-primary btn-sm'>Готово</button></p></td>
          <input type="hidden" name="id" value={{search4(code)}}>
        </tr>
        </form>
        {% endfor %}
    </table>
    <tr>
      <form method="POST" action="/submit2">
      <input type="hidden" name="file_name" value={{file_search()}}>
      <center><p><button type='submit' class='btn btn-success btn-lg'>Подтвердить</button></p></center>
      <center><span class="help-block">Для подтверждения необходимо принять каждую строку.</span></center>
      </form>
    </tr>
  </body>
</html>